<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
    </div>


    <fieldset>
    <!-- currently breaks on userEmail @ symbol when passed as query -->
            <h1> Create Character </h1>
            <form action="/characters" method="post">
                <label for="charName">Character Name</label>
                <input type="text" name="charName">
                <label for="level">Character Level</label>
                <input type="text" name="level">
                <label for="userEmail">User Email</label>
                <input type="text" name="userEmail">
            <input type="submit" value="Create" id="submit">
            </form>

    </fieldset>

    <fieldset>
        <h1> Find Characters by Name </h1>
        <form action="/characters" method="get">
            <label for="charName">Search for a character</label>
            <input type="text" name="charName">
            <input type="submit" value="Search" id="submit">
        </form>

    </fieldset>

    <fieldset>
        
                <table border='2'>
                    <thead>
                        <tr>
                            <th> Name  </th>
                            <th> Level  </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td> {{ row.charName }} </td>
                            <td> {{ row.level }} </td>
                            <td><button onclick="window.location.href='/update_characters/{{ row.userId }}';">Update</button></td>
                            <td><button onclick="window.location.href='/delete_characters/{{ row.userId }}';">Remove</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
</body>
</html>


