<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guilds</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
    </div>

    <fieldset>
            <h1> Add a Guild </h1>
            <form action="/guilds" method="post">
                <label for="guildName">Guild Name</label>
                <input type="text" name="guildName">
                <input type="submit" value="Add" id="submit">
            </form>

    </fieldset>

    <fieldset>
        <h1> Find a Guild </h1>
        <form action="/guilds" method="get">
            <label for="guildName">Search for a guild</label>
            <input type="text" name="guildName">
            <input type="submit" value="Search" id="submit">
        </form>
    </fieldset>

    <fieldset>
                <h1>Guilds</h1>
        
                <table border='2'>
                    <thead>
                        <tr>
                            <th>Guild Name </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                        {% for row in rows %}
                        <tr>
                            <td> {{ row.guildName }} </td>
                            <td><button onclick="window.location.href='/update_guilds/{{ row.guildId }}';">Update</button></td>
                            <td><button onclick="window.location.href='/delete_guilds/{{ row.guildId }}';">Remove</button></td>
                        </tr>
                        {% endfor %}
                </table>
            </fieldset>
</body>
</html>


