<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameDB</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
<fieldset>
    
    <h1> Team CobraKai: GameDB </h1>
</fieldset>

</body>
</html>