<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professions</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    
    <div>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
   </div>

    <fieldset>
        <h1> Add a Profession </h1>
        <form action="/professions" method="post">
            <label for="professionName">Profession Name</label>
            <input type="text" name="professionName">
             <input type="submit" value="Add" id="submit">
        </form>
    </fieldset>

    <fieldset>
        <h1>Profession</h1>

        <table border='2'>
            <thead>
                <tr>
                    <th>Profession</th>
                    <th> </th>
                    <th> </th>
                </tr>
            </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>
                        <td> {{ row.professionName }} </td>
                        <td><button onclick="window.location.href='/update_professions/{{ row.professionId }}';">Update</button></td>
                        <td><button onclick="window.location.href='/delete_professions/{{ row.professionId }}';">Remove</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
    </fieldset>
</body>
</html>

