<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="static/css/style.css">

</head>
<body>
    <div>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
    </div>

    <fieldset>
        <div>
            <h1> Add a Recipe </h1>
            <form action="/recipes" method="post">
                <label for="recipe_name">Recipe name</label>
                <input type="text" name="recipe_name">
                <label for="ingredient">Ingredient</label>
                <input type="text" name="ingredient">
    
                <label for="professions">Select Profession</label>
                <select name="professions" id="professions">
                    <option value="smith">Smith</option>
                    <option value="alchemist">Alchemist</option>
                    <option value="butcher">Butcher</option>
                    <option value="baker">Baker</option>
                    <option value="engineer">Engineer</option>
                </select>
            <input type="submit" value="Add" id="submit">
            </form>

            </div>
    </fieldset>

        <fieldset>
        <div>
        <h1> Find a Recipe </h1>
        <form action="/recipes" method="get">
            <label for="recipe_names">Recipe name</label>
            <input type="text" name="recipe_names">
            <label for="ingredients">Ingredient</label>
            <input type="text" name="ingredients">

            <label for="professions">Select Profession</label>
            <select name="professions" id="professions">
                <option value="smith">Smith</option>
                <option value="alchemist">Alchemist</option>
                <option value="butcher">Butcher</option>
                <option value="baker">Baker</option>
                <option value="engineer">Engineer</option>
            </select>
            <input type="submit" value="Search" id="submit">
        </form>
        </div>
    </fieldset>


            <fieldset>
                <h1>Available Recipes</h1>
        
                <table>
                    <thead>
                        <tr>
                            <th>Profession</th>
                            <th>Recipe</th>
                            <th>Ingredients</th>
                            <th> </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Alchemist</td>
                            <td>Herbs</td>
                            <td>Potion of telekenisis</td>
                            <td><button onclick="window.location.href='/update_recipes/1';">Update</button></td>
                            <td><button>Remove</button></td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>

</body>
</html>


