<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    
    <fieldset>
       
        <h1> Update a Recipe </h1>
        <form action="/update_recipes/{{id}}" method="post">
            <label for="recipeName">Recipe name</label>
            <input type="text" name="recipeName" value="{{ row.recipeName }}">
            <label for="levelRequirement">Level Requirement</label>
            <input type="text" name="levelRequirement" value={{ row.levelRequirement }}>

            <label for="professions">Select Profession</label>
            <select name="professions" name="professions" value={{ row.professionId }}>
                <option> </option>
                <option value='1'>Alchemy</option>
                <option value='2'>Blacksmithing</option>
                <option value='3'>Enchanting</option>
                <option value='4'>Engineering</option>
                <option value='5'>Herbalism</option>
                <option value='6'>Mining</option>

            </select>
        <input type="submit" value="Update" id="submit">
        </form>

    </fieldset>
               
</body>
</html>

