<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
  
    <fieldset>
        <h1> Update User </h1>
        <form action="/update_users/{{ row.userId }}" method="post">
            <label for="userEmail">email address</label>
            <input type="text" name="userEmail" value={{ row.userEmail }}>
            <label for="firstName">firstname</label>
            <input type="text" name="firstName" value={{ row.firstName }}>
            <label for="lastName">lastname</label>
            <input type="text" name="lastName" value={{ row.lastName }}>
            <label for="password">password</label>
            <input type="password" name="password"  value="{{ row.password }}">
        <input type="submit" value="Update" id="submit">
        </form>
    </fieldset>
               
</body>
</html>

