<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Followed approach shown/taken in sample flask code and course lecture -->
</head>
<body>
    
    <fieldset>
       
        <h1> Update a Recipe </h1>
        <form action="/update_recipes/{{ row.recipeId }}" method="post">
        <!-- Sends updated field data to update_recipes route -->
            <label for="recipeName">Recipe name</label>
            <p> {{ row.recipeName }} </p>
            <label for="levelRequirement">Level Requirement</label>
            <input type="text" name="levelRequirement" value={{ row.levelRequirement }}>

            <label for="professionId">Select Profession</label>
            <select name="professionId" value={{ row.professionId }}>
                <option> </option>
                <option name='professionId' value=1>Alchemy</option>
                <option name='professionId' value=2>Blacksmithing</option>
                <option name='professionId' value=3>Enchanting</option>
                <option name='professionId' value=4>Engineering</option>
                <option name='professionId' value=5>Herbalism</option>
                <option name='professionId' value=6>Mining</option>

            </select>
        <input type="submit" value="Update" id="submit">
        </form>

    </fieldset>
               
</body>
</html>

