<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professions</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    
    <fieldset>
        <h1> Update Character's Professions</h1>
        <form action="/update_professions/{{id}}" method="post">
            <label for="name">Character Name</label>
            <input type="text" name="name">
            <label for="professions">Select Profession</label>
            <select name="professions" id="professions">
                <option value="smith">Smith</option>
                <option value="alchemist">Alchemist</option>
                <option value="butcher">Butcher</option>
                <option value="baker">Baker</option>
                <option value="engineer">Engineer</option>
            </select>
        <input type="submit" value="Update" id="submit">
        </form>
    </fieldset>
                
</body>
</html>

