<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    
    <fieldset>
       
        <h1> Update a Recipe </h1>
        <form action="/update_recipes/{{id}}" method="post">
            <label for="recipe_name">Recipe name</label>
            <input type="text" name="recipe_name">
            <label for="ingredient">Ingredient</label>
            <input type="text" name="ingredient">

            <label for="professions">Select Profession</label>
            <select name="professions" id="professions">
                <option value="smith">Smith</option>
                <option value="alchemist">Alchemist</option>
                <option value="butcher">Butcher</option>
                <option value="baker">Baker</option>
                <option value="engineer">Engineer</option>
            </select>
        <input type="submit" value="Update" id="submit">
        </form>

    </fieldset>
               
</body>
</html>

