<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Followed approach shown/taken in sample flask code and course lecture -->
</head>
<body>
    <div>
    <ul>
        <li class="menu"> <a href="/">Home</a> </li>
        <li class="menu"> <a href="users">Users</a> </li>
        <li class="menu"> <a href="characters">Characters</a> </li>
        <li class="menu"> <a href="guilds">Guilds</a> </li>
        <li class="menu"> <a href="professions">Professions</a> </li>
        <li class="menu"> <a href="recipes">Recipes</a> </li>
    </ul>
    </div>
    
        <fieldset>
            <h1> Add User </h1>
            <form action="/users" method="post">
            <!-- Form to add a new user -->
                <label for="userEmail">email address</label>
                <input type="email" name="userEmail">
                <label for="firstName">firstname</label>
                <input type="text" name="firstName">
                <label for="lastName">lastname</label>
                <input type="text" name="lastName">
                <label for="password">password</label>
                <input type="password" name="password">
                <input type="submit" value="Add" id="submit">
            </form>

    </fieldset>

    <fieldset>
        <h1> Find User </h1>
        <!-- Form to search for a user. -->
        <form action="/users" method="get">
            <label for="firstName">Search for a User by first name</label>
            <input type="text" name="firstName">
            <input type="submit" value="Search" id="submit">
        </form>

    </fieldset>


        <fieldset>
                <h1>Users</h1>
        
                <table border='2' align='center'>
                <!-- Iterates through rows and places userEmail, firstName, lastName, password into appropriate row. Creates Update and Remove buttons. -->
                    <thead>
                        <tr>
                            <th> Email  </th>
                            <th> First Name  </th>
                            <th> Last Name </th>
                            <th> Password </th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in rows %}
                        <tr>
                            <td> {{ row.userEmail }} </td>
                            <td> {{ row.firstName }} </td>
                            <td> {{ row.lastName }} </td>
                            <td> {{ row.password }} </td>
                            <td><button onclick="window.location.href='/update_users/{{ row.userId }}';">Update</button></td>
                            <td><button onclick="window.location.href='/delete_users/{{ row.userEmail }}';">Remove</button></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </fieldset>
</body>
</html>

